<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Cálculo de IMC</h1>
    <p>O que é IMC</p>
    <p>IMC (Índice de Massa Corporal) é uma medida universal,<br> 
        usada para calculo de massa corporal indicando assim <br>
        se a pessoa esta em seu peso ideal.</p>
    <form class="data-form">
    <input type="number" placeholder="Altura ex.: 1.75" min="0" step="0.01" />
    
    </form>
</body>
</html>