<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <div class="info-text">
        <h1>Cálculo de IMC</h1>
        <p>O que é IMC</p>
        <p>IMC (Índice de Massa Corporal) é uma medida universal,<br> 
            usada para cálculo de massa corporal, indicando assim <br>
            se o indivíduo esta em seu peso ideal.</p>
        
    </div>

    <div>
    <form class="data-form" action="/imcweb/urls.py/" method="post">
        <input type="number" placeholder="Altura ex.: 1.75" min="0" step="0.01" />
        <input type="number" placeholder="Idade ex.: 25" min="18" step="1"/>
        <input type="submit" value="OK"/>
    </form>
    </div>

    <div class="result-IMC">
        <span>Seu IMC é: (variavel python com o resultado)</span>
    </div>
</body>
</html>